body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 20px;
  color: var(--title-color);
  margin-left: 35px;
  margin-bottom: 20px 
}

a {
  color: #00B7FF;
}

ul {
  margin-top: 1%;
  width: 400px;
}

li {
  font-size: 18px;
  margin-top: 2px;
  color: var(--text-color);
}

span {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}

#valider {
  position: absolute;
  left: 5px;
  top: 13px;
}

#input {
  width: 325px;
}

:root {
  --main-color: rgb(247, 169, 68);
  --backgroud-color: rgb(226, 201, 174);
  --title-color: white;
  --text-color: rgb(49, 49, 49);
}

#frame {
  position: relative;
  z-index: 0;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  background-color: var(--backgroud-color);
  width: 402px;
  height: 190px;
}

#formulaire {
  display: none;
  position: absolute;
  z-index: 3;
  top: -5px;
  width: 400px;
  height: 40px;
  background-color: var(--main-color);
}

#hr {
  position: absolute;
  top: 5px;
  height: 1px;
  width: 385px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-left: 5px;
  padding: 0;
  z-index: 2;
}

#titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -190px;
  width: 400px;
  height: 40px;
  background-color: var(--main-color);
  z-index: 1;
}

#liste {
  display: flex;
  overflow-y: auto;
  position: relative;
  top: -190px;
  width: 500px;
  height: 145px;
  padding-right: 50px;
  z-index: 2;
}

#liste::-webkit-scrollbar { 
  display: none; 
}

/* Cross button */
#icon {
  background-color: var(--backgroud-color);
  flex: 1;
  align-self: flex-start;
  border: none;
  color: var(--text-color);
}

#add {
  color: var(--title-color);
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  position: relative;
  border: none;
}